{% load bootstrap3 %}
<form method="POST" action="/add/comment/" class="form-horizontal">
  {% csrf_token %}
  <div class="comments_container">
    {% for comment in comments %}
    <div class="comment_comtainer">
      <div class="row">
        <div class="comment_content col-md-5"> {{comment.content}}
          <p><span>작성일시: </span>{{comment.created_at}}</p>
        </div>
        <div class="col-md-1">
          <button class="btn btn-danger " name="comment_id" formaction="/delete/comment/" value="{{comment.id}}"type="submit">삭제</button>
        </div>       
      </div>

    </div>
    {%empty%}
      <p>댓글이 없습니다.</p>
    {%endfor%}
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="hidden" name="post_id" value="{{post_id}}"/>
          <input type="text" class="form-control" name="content"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">댓글</button>
          </span>
        </div>
      </div>          
    </div>
    <br>
    <div text-alin>
      <a href="/" class="btn btn-primary " role="button">목록</a>
    </div>
  </div>
</form>